.loginBox {
  max-width: 100%;
  height: 80vh;
  border: 0.1rem solid #cccccc;
  border-top: 0;
  border-bottom: 0;
  padding: 1rem 15%;
  color: rgb(28, 28, 28);
}
.loginForm {
  text-align: center;
  border: 0.1rem solid #cccccc;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.loginForm label {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 1rem;
}
.loginForm input {
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: 0.1rem solid #ececec;
  border-radius: 1rem;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.loginForm input:active {
  background-color: #f8f8f8;
}
.loginForm button {
  margin: auto;
  width: 10rem;
  font-size: 1.3rem;
}
.title {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.switchTitle {
  text-align: center;
  font-size: 1.3rem;
  color: #1778f2;
  cursor: pointer;
  transition: 0.1s ease;
  margin-top: 1rem;
}
.switchTitle:hover {
  color: #0d458a;
}
.defaultTitle {
  max-width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  border: 0.1rem solid #cccccc;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.defaultTitle h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  color: #1778f2;
  text-transform: uppercase;
  font-weight: 800;
}
.defaultTitle h4 {
  font-size: 1.3rem;
}

@media (min-width: 280px) and (max-width: 576px) {
  .loginBox {
    padding: 1rem 5%;
  }
  .loginForm label {
    font-size: 1.1rem;
  }
  .loginForm input {
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
  .loginForm button {
    font-size: 1rem;
  }
  .switchTitle {
    font-size: 1.1rem;
  }
  .defaultTitle h3 {
    font-size: 1.3rem;
  }
  .defaultTitle h4 {
    font-size: 1.1rem;
  }
  .title {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .loginBox {
    padding: 1rem 10%;
  }
  .loginForm label {
    font-size: 1.3rem;
  }
  .loginForm input {
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
  }
  .loginForm button {
    font-size: 1.1rem;
  }
  .switchTitle {
    font-size: 1.2rem;
  }
  .defaultTitle h3 {
    font-size: 1.4rem;
  }
  .defaultTitle h4 {
    font-size: 1.4rem;
  }
  .title {
    font-size: 1.4rem;
  }
}
