label {
  color: rgb(73, 73, 73);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0rem;
}
.inputForm {
  text-align: center;
}
.inputForm input,
textarea {
  width: 50.2%;
  font-size: 1.3rem;
  border: 0.1rem solid #cccccc;
  border-radius: 1rem;
  padding: 0.7rem 2rem;
  outline: none;
  margin-bottom: 1rem;
  margin-top: 0.6rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  cursor: text;
  text-transform: capitalize;
}
.inputForm input:hover {
  background-color: rgb(249, 249, 249);
}
.inputForm select {
  width: 55%;
  font-size: 1.3rem;
  border: 0.1rem solid #cccccc;
  border-radius: 1rem;
  padding: 0.7rem 5rem;
  outline: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: capitalize;
}
.inputForm select:hover {
  background-color: rgb(249, 249, 249);
}
.inputForm textarea:hover {
  background-color: rgb(249, 249, 249);
}
.inputForm textarea {
  height: 12rem;
}

.inputForm button {
  font-size: 1.6rem;

  font-weight: 600;
}
