.navBar {
  max-width: 80%;
}
.icons {
  transform: scale(1.5);
  padding-bottom: 0.3rem;
}
.bna {
  font-size: 22rem;
}
.nav {
  border-top: 0.1rem solid #cccccc;
  border-width: 70%;
}
.boxdiv {
  position: "fixed";
  bottom: 0;
  left: 15%;
  width: 70%;
}
