.logoDiv {
  padding: 1rem 0%;
  max-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoDiv img {
  max-height: 7rem;
  max-width: 100%;
}
.appbar {
  border: 0.1rem solid #cccccc;
  border-top: none;
}
.betaTag {
  color: #ffffff;
  padding: 0.2rem 1.2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  background-color: #1778f2;
  margin-left: 1.5rem;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: right;
}

@media (min-width: 280px) and (max-width: 576px) {
  .logoDiv {
    max-height: 5rem;
    width: 100%;
    padding: 3rem 0rem;
    margin-right: 17%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .logoDiv img {
    max-height: 4rem;
  }
  .betaTag {
    font-size: 1rem;
    margin-left: 0.2rem;
    margin-right: 1rem;
  }
}

@media (min-width: 400px) and (max-width: 540px) {
  .logoDiv {
    margin-right: 40%;
  }
}
@media (min-width: 540px) and (max-width: 576px) {
  .logoDiv {
    margin-right: 46%;
  }
}
