.formMain {
  max-width: 100%;

  padding: 1rem 10%;
  color: rgb(73, 73, 73);
  border: 0.1rem solid #cccccc;
  border-top: none;
  border-bottom: none;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.impNote {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #cccccc;
  margin-top: 1rem;
  border-radius: 1rem;
}

.impNoteSpan {
  margin-left: 2rem;
  text-transform: capitalize;
}
.impNoteSpan h3 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  font-weight: 700;
}
.impNoteSpan h4 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  font-size: 1.1rem;
}
.title {
  font-size: 1.5rem;
}
.title h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.impNoteSpan h5 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  color: #1778f2;
  margin-top: 0;
  margin-bottom: 1rem;
}
.impNoteSpan h5:active {
  cursor: pointer;
  color: #0b386e;
}
.impNote:hover {
  cursor: pointer;
  border-color: #1778f2;
  transition: 0.1s ease;
}

@media (min-width: 280px) and (max-width: 576px) {
  .title {
    font-size: 1.1rem;
  }
  .impNoteSpan h3 {
    font-size: 1.1rem;
  }
  .impNoteSpan h4 {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .impNoteSpan {
    margin-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .title {
    font-size: 1.1rem;
  }
  .impNoteSpan h3 {
    font-size: 1.2rem;
  }
  .impNoteSpan h4 {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .impNoteSpan {
    margin-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .impNoteSpan h3 {
    font-size: 1.2rem;
  }
  .impNoteSpan h4 {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .impNoteSpan {
    margin-left: 1rem;
    padding-right: 1rem;
  }
}
