.textModal {
  max-width: 50rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.textModal button {
  font-size: 1.1rem;
}
.txtArea {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  height: 20rem;
  width: 50rem;
  border: 0.1rem solid #cccccc;
}

.modalStyle {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: translate(-50%, -50%);
  width: 400;
  background-color: white;
  border: "none";
  border-radius: 1rem;
}
.btnTitle {
  font-size: 1.1rem;
  font-weight: bold;
}

@media (min-width: 280px) and (max-width: 576px) {
  .btnTitle {
    font-size: 0.9rem;
  }
  .textModal {
    width: 20rem;
  }
  .textModal h2 {
    text-transform: capitalize;
  }
  .txtArea {
    font-size: 1rem;
    padding: 1rem 1rem;
    height: 10rem;
    width: 80%;
    border: 0.1rem solid #cccccc;
    text-transform: capitalize;
  }
}
