.mainUserDiv {
  padding: 1rem 15%;
  height: 80vh;
  border: 0.1rem solid #cccccc;
  border-bottom: 0;
  border-top: 0;
}
.solutionsDiv {
  border-radius: 1rem;
  border: 0.1rem solid #cccccc;
  padding: 1rem;

  max-height: 55vh;
  overflow-y: scroll;
}
.solutionsDiv::-webkit-scrollbar {
  display: none;
}
.nameDiv h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 1rem;
}
.nameDiv h3 {
  margin-top: 0rem;
  font-size: 1.3rem;
}
.nameDiv h4 {
  font-size: 1.4rem;
  margin-bottom: 0;
  text-transform: capitalize;
  text-decoration: underline;
  color: #1778f2;
}
.nameDiv {
  border: 0.1rem solid #cccccc;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  color: rgb(28, 28, 28);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  max-width: 15rem;
}
.btnSection button {
  max-height: 4rem;
  margin-top: 1rem;
}

@media (min-width: 280px) and (max-width: 576px) {
  .mainUserDiv {
    padding: 1rem 5%;
  }
  .nameDiv h2 {
    font-size: 1.3rem;
  }
  .nameDiv h3 {
    font-size: 1.1rem;
  }
  .nameDiv h4 {
    font-size: 1.2rem;
  }
  .btnSection {
    max-width: 8rem;
  }
  .btnSection button {
    max-height: 4rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: left;
  }
  .solutionsDiv {
    padding: 1rem 0rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .mainUserDiv {
    padding: 1rem 10%;
  }
  .nameDiv h2 {
    font-size: 1.4rem;
  }
  .nameDiv h3 {
    font-size: 1.2rem;
  }
  .nameDiv h4 {
    font-size: 1.3rem;
  }
  .btnSection {
    max-width: 8rem;
  }
  .btnSection button {
    max-height: 4rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: left;
  }
  .solutionsDiv {
    padding: 1rem 0rem;
  }
}
